.imput {
  color: black;
}

h3 {
  color: black;
  margin-left: 40px;
}

input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 40px;
}

select {
  margin-left: 40px;
  font-size: larger;
  background-color: black;
  padding: 5px;
}

.methods {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 400px;
}

.price_selected {
  color: black;
}

.value {
  margin-left: 44px;
  margin-top: 30px;
}

.input_bar {
  margin-left: 40px;
}

//Movil
@media (max-width: 767px) {
  .methods {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
  .input_bar {
    justify-content: center;
    background-color: red;
  }
}

//Tablet
@media ((min-width: 768px) and (max-width:1200px)) {
}

//PC
@media only screen and (min-width: 1201px) {
}
