.card {
  background-color: white;
  width: 90%;
  margin-left: 100px;
  justify-content: center;

  .img {
    max-width: 400px;
    max-height: 200px;
    overflow: hidden;
    transition: all 0.3ms ease-in-out;
  }
  .img:hover {
    transform: scale(1.2);
  }
}

.product {
  text-align: center;
  width: 400px;
  height: 450px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 30px;
  border: 2px solid gray;
  border-radius: 10px;
  margin-left: 32px;

  //   align-content: center;
}

h1 {
  text-align: center;
  padding: 20px;
  color: rgb(44, 43, 43);
  font-family: "Times New Roman", Times, serif, Helvetica, sans-serif;
}

.card {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

p {
  color: black;
  height: 40px;
}

main {
  background-color: white;
}

.price {
  color: red;
  font-size: 25px;
  margin-top: 35px;
}

.title-product {
  font-size: 18px;
}

//Media-queries

//Movil
@media (max-width: 767px) {
  .card {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  .product {
    width: 350px;
    margin-right: 75px;
    justify-content: center;
    align-items: center;

    .img {
      max-width: 100px;
      max-height: 150px;
    }

    button {
      color: white;
      background-color: black;
    }
  }
}

//Tablet
@media ((min-width: 768px) and (max-width:1200px)) {
  .card {
  }
}

//PC
@media only screen and (min-width: 1201px) {
  .card {
  }
}
